{extend name="layout/base" /}

{block name="main"}
<div class="container mt-4">
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">序号</th>
            <th scope="col">运单号</th>
            <th scope="col">会员名</th>
            <th scope="col">商品标题</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list['data'] as $k => $row }
        <tr>
            <td scope="row">{$row['id']}</td>
            <td>{$row['order_number']}</td>
            <td>{$row['member']}</td>
            <td>{$row['shopinfo']}</td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        {$page|raw}
    </nav>
</div>
{/block}