{extend name="layout/base" /}

{block name="main"}
<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <a href="{:url('merchant/file/list')}">返回</a>
            </li>
        </ol>
    </nav>
    <form action="{:url('merchant/file/save')}" enctype="multipart/form-data" method="post">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">标题:</label>
            <div class="col-sm-5">
                <input type="text" name="name" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">商户数据源类别:</label>
            <div class="col-sm-5">
                <select class="form-control" name="type" id="merchant-type">
                    {foreach $merchantTypeList as $k => $row }
                    {if $type == $k}
                    <option value="{$k}" selected>{$row}</option>
                    {else /}
                    <option value="{$k}">{$row}</option>
                    {/if}
                    {/foreach}
                </select>
            </div>
        </div>
        {foreach $fromFile as $k => $row }
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{$row['fromName']}：</label>
            <div class="col-sm-5">
                <input type="file" name="{$k}" class="form-control-file">
            </div>
        </div>
        {/foreach}
        <button type="submit" class="btn btn-primary btn-sm">保存</button>
    </form>
</div>
{/block}

{block name="ajaxjs"}
<script>
    $(function () {
        $("#merchant-type").change(function () {
            // 是否刷新页面
            var type = $(this).val();
            location.href = "{:url('merchant/file/create')}"+"?type="+type;
        });
    });
</script>
{/block}