{extend name="layout/base" /}

{block name="main"}
<div class="container mt-4">
    <div class="mt-2 mb-2">
        <a href="{:url('express/file/create')}" class="btn btn-primary btn-sm">添加</a>
        <a href="{:url('express/order/merge')}" class="btn btn-info btn-sm ml-2">总合并商品明细</a>
        <a href="{:url('express/order/mergeWeight')}" class="btn btn-info btn-sm ml-2">总合并重量</a>
    </div>
    <div class="row text-center">
        <div class="col alert alert-warning border m-2 p-2">
            全部运单导入总数目：{$statistics['express_total']}
        </div>
        <div class="col alert alert-warning border m-2 p-2">
            统计未取得商品信息的运单总数：{$statistics['express_total_no']}
        </div>
    </div>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">序号</th>
            <th scope="col">分类</th>
            <th scope="col">标题</th>
            <th scope="col">商品明细文件名称</th>
            <th scope="col">【导入数目】</th>
            <th scope="col">【未拉取到商品信息数目】</th>
            <th scope="col">创建时间</th>
            <th scope="col">导入状态</th>
            <th scope="col">特殊操作</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list['data'] as $k => $row }
        <tr>
            <td scope="row">{$row['id']}</td>
            <td>
                <?php $expressTypeName = yxx_config_name('EXPRESS_TYPE',$row['type']); ?>
                {$expressTypeName}
            </td>
            <td>{$row['name']}</td>
            <td>
                {$row['order_filename']}
            </td>
            <td>
                【{$row['num_order']}】
            </td>
            <td>
                【{$row['num_no']}】
            </td>
            <td><?php echo date('Y-m-d H:i:s',$row['create_time']);?></td>
            <td>
                {if $row['status'] == 1}
                <span class="badge badge-success">是</span>
                {else /}
                <span class="badge badge-danger">否</span>
                {/if}
            </td>
            <td>
                {if $row['status'] == 0}
                <button data-id="{$row['id']}"
                        class="btn btn-info btn-sm yxx-list-import">导入
                </button>
                {else /}
                <button data-id="{$row['id']}"
                        class="btn btn-danger btn-sm yxx-list-delete-express">清空
                </button>
                {/if}
            </td>
            <td>
                {if $row['status'] == 1}
                <a href="{:url('express/order/list',['type'=>$row['type'],'fileId'=>$row['id']])}"
                   class="btn btn-primary btn-sm">查看</a>
                <a href="{:url('express/file/export',['id'=>$row['id']])}"
                   class="btn btn-info btn-sm">导出</a>
                {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        {$page|raw}
    </nav>
</div>
{/block}

{block name="ajaxjs"}
<script>
    $(function () {
        $(".yxx-list-import").click(function () {
            // 是否刷新页面
            if (window.reload)
                location.reload();

            // 防止重复点击
            $(this).attr('disabled', 'disabled');
            $(this).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>');

            // ajax请求
            var id = $(this).attr('data-id');
            console.log(id);
            $.ajax({
                type: "get",
                dataType: "json",
                url: "{:url('express/file/import')}",
                data: {
                    "id": id
                },
                success: function (data) {
                    if (data.success == 0) {
                        alert(data.message);
                    }
                    window.location.reload();
                }
            });
        });
        $(".yxx-list-delete-express").click(function () {
            // 是否刷新页面
            if (window.reload)
                location.reload();

            // 防止重复点击
            $(this).attr('disabled', 'disabled');
            $(this).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>');

            // ajax请求
            var id = $(this).attr('data-id');
            console.log(id);
            $.ajax({
                type: "get",
                dataType: "json",
                url: "{:url('express/file/deleteExpress')}",
                data: {
                    "id": id
                },
                success: function (data) {
                    if (data.success == 0) {
                        alert(data.message);
                    }
                    window.location.reload();
                }
            });
        });
    });
</script>
{/block}