{extend name="layout/base" /}

{block name="main"}
<div class="container mt-4">
    <div class="mt-2 mb-2">
        <a href="{:url('taobao/shop/merge')}" class="btn btn-primary btn-sm">合并</a>
    </div>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">序号</th>
            <th scope="col">订单号</th>
            <th scope="col">子订单号</th>
            <th scope="col">商品标题</th>
            <th scope="col">快递</th>
            <th scope="col">运单号</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list['data'] as $k => $row }
        <tr>
            <td scope="row">{$row['id']}</td>
            <td>{$row['order_number']}</td>
            <td>{$row['order_number_son']}</td>
            <td>{$row['shopinfo']}</td>
            <td>{$row['express_company']}</td>
            <td>{$row['order_express_number']}</td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        {$page|raw}
    </nav>
</div>
{/block}