{extend name="layout/base" /}

{block name="main"}
<div class="container mt-4 h6">
    <div class="alert alert-warning" role="alert">
        <p>2.快递对账单的操作</p>
        <div class="pl-3">
            <p>2.1 快递对账单的文件添加</p>
            <p>2.2 快递对账单的导入数据</p>
            <p>2.3 快递对账单的合并数据</p>
            <p>2.4 快递对账单的导出</p>
            <p>支持快递类型：韵达，邮政，极兔，百世</p>
            <p><a href="{:url('express/file/list')}" class="btn btn-primary btn-sm">快递对账单</a></p>
        </div>
    </div>
    <div class="alert alert-warning" role="alert">
        <p>4. 删除的操作</p>
        <div class="pl-3">
            <p>4.1 数据表所有信息清空</p>
            <p>4.2 上传所有文件删除</p>
            <p><a href="{:url('index/index/delete')}" class="btn btn-danger btn-sm">删除</a></p>
        </div>
    </div>
</div>
{/block}