{extend name="layout/base" /}

{block name="main"}
<div class="container mt-4">
    <div class="mt-2 mb-2">
        <a href="{:url('tianmaov2/file/create')}" class="btn btn-primary btn-sm">添加</a>
        <a href="{:url('tianmaov2/shop/list')}" class="btn btn-primary btn-sm">查看商品</a>
    </div>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">标题</th>
            <th scope="col">【导入数目】商品明细文件名称</th>
            <th scope="col">创建时间</th>
            <th scope="col">导入状态</th>
            <th scope="col">特殊操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list['data'] as $k => $row }
        <tr>
            <td>{$row['name']}</td>
            <td>
                【{$row['num_shop']}】
                {$row['order_shop_filename']}
            </td>
            <td><?php echo date('Y-m-d H:i:s',$row['create_time']);?></td>
            <td>
                {if $row['status'] == 1}
                <span class="badge badge-success">是</span>
                {else /}
                <span class="badge badge-danger">否</span>
                {/if}
            </td>
            <td>
                {if $row['status'] == 0}
                <button data-id="{$row['id']}"
                        class="btn btn-info btn-sm yxx-list-import">导入
                </button>
                {else /}
                <a href="{:url('tianmaov2/file/delete',['id'=>$row['id']])}" class="btn btn-danger btn-sm">删除</a>
                {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        {$page|raw}
    </nav>
</div>
{/block}

{block name="ajaxjs"}
<script>
    $(function () {
        $(".yxx-list-import").click(function () {
            // 是否刷新页面
            if (window.reload)
                location.reload();

            // 防止重复点击
            $(this).attr('disabled', 'disabled');
            $(this).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>');

            // ajax请求
            var id = $(this).attr('data-id');
            console.log(id);
            $.ajax({
                type: "get",
                dataType: "json",
                url: "{:url('tianmaov2/file/import')}",
                data: {
                    "id": id
                },
                success: function (data) {
                    if (data.success == 0) {
                        alert(data.message);
                    }
                    window.location.reload();
                }
            });
        });
    });
</script>
{/block}